/* Header CSS Start */
header {
    background: url(/images/office-supplies-with-computer-notebook-white-desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 180px 0 120px;
}
header .texts h1 {
    font-size: 48px;
}
header .texts p {
    font-size: 11px;
    color: #444;
}
header .texts a {
    background-color: #00c2e5;
    border: 2px solid #00c2e5;
    transition: 0.4s;
}
header .texts a:hover {
    border: 2px solid #00c2e5;
    color: #00c2e5 !important;
    background-color: white;
}
/* Header CSS End */


/* About Us Top CSS Start */
.about_top {
    padding: 80px 0;
}
.about_top .item .icon {
    font-size: 56px;
    color: #00c2e5;
}
.about_top .item h4 {
    font-size: 22px;
}
.about_top .item p {
    font-size: 14px;
}
/* About Us Top CSS End */


/* About Us Bottom CSS Start */
.about_btm {
    background-color: rgb(248, 248, 248);
}
.about_btm .items .texts {
    max-width: 600px;
    padding: 100px;
}
.about_btm .items .texts h2 {
    font-weight: 900;
    font-size: 50px;
}
.about_btm .items .texts .blue {
    color: #00c2e5;
}
.about_btm .items .texts a {
    background-color: #00c2e5;
    border: 2px solid #00c2e5;
    transition: 0.4s;
}
.about_btm .items .texts a:hover {
    border: 2px solid #00c2e5;
    color: #00c2e5 !important;
    background-color: white;
}
/* About Us Bottom CSS End */


/* Portfolios CSS Start */
.portfolio {
    padding: 90px 0;
}
.portfolio .headline p {
    color: #a3a3a3;
}
.portfolio .headline h1 {
    font-weight: 900;
    font-size: 50px;
    color: #00c2e5;
}
.portfolio .item {
    position: relative;
    overflow: hidden;
}
.portfolio .item, .portfolio .image, .portfolio .texts, .portfolio .texts .portfolio_link a, .portfolio .texts .links .icon a {
    transition: 0.4s;
}
.portfolio .texts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d3f8ffcc;
    cursor: pointer;
    opacity: 0;
}
.portfolio .item:hover .texts {
    opacity: 1;
}
.portfolio .item:hover .image {
    transform: scale(1.08);
}
.portfolio .texts .category a {
    color: #444;
    font-size: 13px;
    border: 1px solid #444;
}
.portfolio .texts .portfolio_link a {
    font-size: 19px;
}
.portfolio .texts .portfolio_link a:hover {
    color: #00c2e5 !important;
}
.portfolio .texts p {
    color: #888888;
    font-size: 15px;
}
.portfolio .texts .links .icon {
    width: 30px;
    height: 30px;
    background-color: #222;
}
.portfolio .texts .links .icon:hover a {
    color: #00c2e5 !important;
}
/* Portfolios CSS End */