*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    outline: 0;
}
body {
    font-family: "Roboto", sans;
}


/* Navigation CSS Start */
nav {
    box-shadow: 0 0 10px 0 #00000023;
    width: 100%;
    position: fixed !important;
    z-index: 9999 !important;
    background-color: white;
}
nav .nav-item a {
    font-size: 14px;
    color: #222;
    transition: 0.4s;
}
nav .nav_button a {
    font-size: 18px;
}
nav .nav-item a:hover {
    color: #535353;
}
@media screen and (max-width: 992px) {
    nav .nav-item a {
        font-weight: 400 !important;
        text-transform: capitalize !important;
    }
    nav .border_btm {
        border-bottom: 1px solid #00000023;
    }
    nav .nav_menu {
        color: #00000000 !important;
    }
}
/* Navigation CSS End */


/* Footer Top CSS Start */
.footer_top {
    background-color: #00c2e5;
}
.footer_top .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_top .wrapper h1 {
    font-size: 48px;
}
.footer_top .wrapper a {
    border: 2px solid #fff;
    transition: 0.4s;
}
.footer_top .wrapper a:hover {
    background-color: #fff;
    color: black !important;
}
@media screen and (max-width: 768px) {
    .footer_top .wrapper h1 {
        font-size: 34px;
    }
}
@media screen and (max-width: 576px) {
    .footer_top .wrapper {
        display: block;
        text-align: center;
    }
    .footer_top .wrapper h1 {
        font-size: 22px;
        margin-bottom: 22px !important;
    }
    .footer_top .wrapper a {
        font-size: 14px;
    }
}
/* Footer Top CSS End */


/* Footer Main CSS Start */
footer {
    background-color: #0d0d0d;
    padding: 60px 0;
    border-bottom: 1px solid #222;
}
footer .footer_about p, footer .footer_contact ul li {
    color: #acacac;
    font-size: 14px;
    list-style: none;
}
footer .footer_blog .items .item .image {
    max-width: 82px;
    overflow: hidden;
}
footer .footer_blog .items .item .image img {
    width: 100%;
    transition: 0.4s;
}
footer .footer_blog .items .item .image img:hover {
    transform: scale(1.08);
}
footer .footer_blog .items .item .texts h6 {
    font-size: 14px;
}
footer .footer_blog .items .item .texts .wrapper p {
    color: #acacac;
    font-size: 11px;
}
footer .footer_tags .tags a {
    font-size: 12px;
    margin-bottom: 4px;
    transition: 0.4s;
}
footer .footer_tags .tags a:hover {
    color: #00c2e5 !important;
}
@media screen and (max-width: 576px) {
    footer {
        padding: 38px 0;
    }
}
/* Footer Main CSS End */


/* Footer Bottom CSS Start */
.footer_btm {
    background-color: #030303;
}
.footer_btm .copyright, .footer_btm .web_info {
    font-size: 14px;
    color: #acacac70;
}
.footer_btm .copyright a, .footer_btm .web_info a {
    transition: 0.4s;
}
.footer_btm .copyright a:hover, .footer_btm .web_info a:hover {
    color: #ffffffd5 !important;
}
@media screen and (max-width: 576px) {
    .footer_btm .copyright,.footer_btm .web_info {
        font-size: 12px;
    }
}
/* Footer Bottom CSS End */