*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    outline: 0;
}
body {
    font-family: "Roboto", sans;
}


/* Navigation CSS Start */
nav {
    box-shadow: 0 0 10px 0 #00000023;
    width: 100%;
    position: fixed !important;
    z-index: 9999 !important;
    background-color: white;
}
nav .nav-item a {
    font-size: 14px;
    color: #222;
    transition: 0.4s;
}
nav .nav_button a {
    font-size: 18px;
}
nav .nav-item a:hover {
    color: #535353;
}
@media screen and (max-width: 992px) {
    nav .nav-item a {
        font-weight: 400 !important;
        text-transform: capitalize !important;
    }
    nav .border_btm {
        border-bottom: 1px solid #00000023;
    }
    nav .nav_menu {
        color: #00000000 !important;
    }
}
/* Navigation CSS End */


/* Footer Top CSS Start */
.footer_top {
    background-color: #00c2e5;
}
.footer_top .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_top .wrapper h1 {
    font-size: 48px;
}
.footer_top .wrapper a {
    border: 2px solid #fff;
    transition: 0.4s;
}
.footer_top .wrapper a:hover {
    background-color: #fff;
    color: black !important;
}
@media screen and (max-width: 768px) {
    .footer_top .wrapper h1 {
        font-size: 34px;
    }
}
@media screen and (max-width: 576px) {
    .footer_top .wrapper {
        display: block;
        text-align: center;
    }
    .footer_top .wrapper h1 {
        font-size: 22px;
        margin-bottom: 22px !important;
    }
    .footer_top .wrapper a {
        font-size: 14px;
    }
}
/* Footer Top CSS End */